@import 'tailwindcss';
@import '/node_modules/frappe-gantt/dist/frappe-gantt.css';
@import 'material-icons/iconfont/material-icons.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', system-ui, -apple-system, sans-serif;
}

#app {
  height: 100%;
}
